<div class="flex flex-col items-center gap-6">
    <h1 class="mt-5 text-lg">Reports</h1>

    <div>
        <h2>Total Appointments by Hospital</h2>
        <ul>
            {{#each appointmentsByHospital}}
            <li>{{HOSPITAL NAME}}: {{TotalAppointments}}</li>
            {{/each}}
        </ul>
    </div>

    <div>
        <h2>Percentage of Appointments by Specialty</h2>
        <ul>
            {{#each appointmentsBySpecialty}}
            <li>{{MAIN SPECIALTY}}: {{Percentage}}%</li>
            {{/each}}
        </ul>
    </div>


    <div>
        <h2>Total Doctors by Region and Specialty</h2>
        <ul>
            {{#each doctorsByRegionAndSpecialty}}
            <li>{{REGION NAME}} - {{MAIN SPECIALTY}}: {{TotalDoctors}}</li>
            {{/each}}
        </ul>
    </div>
</div>